<%- include('partials/header.ejs'); %>
<%- include('partials/homenavbar.ejs'); %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo!</h1>
            <h5 class="lead">Este é um blog simples</h5>
            <hr class="my-4">
            <!-- <p>ele usa classes utilitarias</p> -->
            <a class ="btn btn-primary btn-lg" href="#" role="button">Leia mais...</a>
        </div>
        <hr>
        <% articles.forEach(article =>{ %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <p id="previa"><%- article.body %> </p>
                    <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="/articles/page/2">Próximo >></a>         
            </div>
            <hr>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs'); %>
<style>
p {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>